.review-container {
  height: auto;
  display: inline-table;
  width: 100%;

  .review-box {
    &:after {
      @include lines-effect();
    }

    margin: 19px 2.5%;
    border-radius: 5px;
    box-shadow: $main-white-shadow-inner;
    background: #333333;
    width: 15vw;
    min-width: 15vw;
    max-width: 15vw;
    min-height: 220px;
    height: auto;
    display: inherit;
    position: relative;

    @media(max-width: 769px) {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
    }

    .header {
      display: flex;
      height: 20px;
      padding: 13px;
      position: relative;

      .author {
        font-size: 15px;
        font-weight: bold;
        margin-left: auto;

        @include giggle-effect();

        p {
          color: $main-green;

          span {
            font-size: 18px;
            color: $main-green;
          }
        }
      }

      .game {
        cursor: pointer;
        font-size: 15px;
        font-weight: bold;

        @include giggle-effect();

        p {
          color: $main-green;

          span {
            font-size: 18px;
            color: $main-green;
          }
        }
      }
    }

    .review {
      padding: 20px;
      font-weight: bold;

      @include giggle-effect();

      p {
        color: $main-green;
        font-size: 20px;
      }
    }
  }
}
