* {
  padding: 0px;
  margin: 0px;
  color: $main-font-color;
  font-family: $font-stack;
  outline-color: transparent;
}

.main-body {
  min-height: 50vh;
  padding: 120px 50px 0;
  background: $main-background;
  background: #111111;
}

