<div class="main-body" *ngIf="game">
  <div class="game-box">
    <div class="header">
      <img src="http:{{ cover }}">

      <div class="title-summary">
        <h1>{{ game.name }}</h1>
        <p>{{ game.summary }}</p>
      </div>
    </div>

    <div class="review-textarea">
      <div *ngIf="!reviewText && canReview" class="dash"></div>
      <textarea
        [disabled]="!canReview"
        placeholder="{{ placeholder }}"
        maxlength="200"
        [class.color]="reviewText"
        (keyup)="countLetters()"
        [(ngModel)]="reviewText"
        ></textarea>

      <div class="review-footer">
        <div *ngIf="canReview" (clickOutside)="showPixelChoices = false" class="select">
          <p (click)="changePixelChoice()" class="selected">{{ pixelSelected.display_name }}</p>

          <div *ngIf="showPixelChoices" class="choices-box">
            <p *ngFor="let pixel of pixelChoices" (click)="selectPixel(pixel)">{{ pixel.display_name }}</p>
          </div>
        </div>

        <span *ngIf="noUserError" class="errorText">Please login before sending a review</span>
        <span *ngIf="canReview" class="letters">{{ countLetters() }}</span>
        <button *ngIf="canReview" [class.disabled]="!reviewText || pixelSelected.value < 0" [disabled]="!reviewText || pixelSelected.value < 0"(click)="createReview()">Send</button>
      </div>
    </div>
  </div>

  <div class="reviews-list">
    <app-review-list #reviewComponent></app-review-list>
  </div>
</div>
